<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Diary Management  System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Diary management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/purchases}">Purchase Management</a>
      </li>
    </ul>
  </div>
  
  <div>
  <ul class="nav navbar-nav navbar-right">             
      <li style="align-content:center">
     <button type="submit" class="btn btn-danger"><a th:href="@{/logout}">Logout</a></button>
       </li>
     </ul>
  </div>
  
</nav>
<br>
<br>
	<div class = "container">
		<div class = "row">
			<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class = "text-center"> Create New Purchase </h1>
				<div class = "card-body">
					<form name="myForm" th:action="@{/purchases/{id} (id=${purchase.id})}" th:object = "${purchase}" onsubmit="return validateForm()" method="POST">
							
							<div class ="form-group">
							<label>Full Name </label>
							<input
							type = "text"
							name = "fullname"
							class = "form-control"
							
							th:field = "*{fullname}"
							
							th:classappend="${#fields.hasErrors('fullname')? 'is-invalid':''}"
							id="full_name"
							/>
							
							<div th:each="e : ${#fields.errors('fullname')}" th:text="${e}" id="validationServer03Feedback" class="invalid-feedback">
						
							</div>
							</div>
						
						
		
						
					<div class="form-group">
						<label>Item</label>
						<select 
						name="item"
						th:field="*{item}" 
						th:classappend="${#fields.hasErrors('item')? 'is-invalid':''}"
						class = "form-control"    
							id="item">
						<option th:value="''" th:text="choose"></option>
                     <option th:value="'Milk'" th:text="Milk"></option>
                      <option th:value="'Butter'" th:text="Butter"></option>
                      <option th:value="'Cheese'" th:text="cheese"></option>
                      <option th:value="'Ice'" th:text="Ice"></option>
                      
                    </select>
                           <div th:each="e : ${#fields.errors('item')}" th:text="${e}"  class="invalid-feedback">
						
							</div>
                           </div>
                           
						
						<div class ="form-group">
							<label>Quantity(pic/kg)</label>
							<input
							id="qty"
							type = "number"
							name = "qtyy"
							th:field = "*{qty}"
							th:classappend="${#fields.hasErrors('item')? 'is-invalid':''}"
							
							class = "form-control"
							placeholder=""
							onkeyup="a()" 
							/>
							<div th:each="e : ${#fields.errors('qty')}" th:text="${e}" id="validationServer03Feedback" class="invalid-feedback">
						
							</div>
						</div>
						
							<div class ="form-group">
							<label>Rate</label>
							<input
							id="rate"
							type = "number"
							name = "rate"
							th:field = "*{rate}"
							class = "form-control"
							
							onkeyup="a()" 
							/>
						</div>
						
						
						<div class ="form-group">
							<label> Amount </label>
							<input
							type = "text"
							name = "amount"
							th:field = "*{amount}"
							class = "form-control"
							placeholder="Enter Amount" />
						</div>
						
						
						<div class = "box-footer">
							<button type="submit" class = "btn btn-primary">
								Submit
							</button>
						</div>
					</form>
				
				</div>
			</div>
		</div>
	</div>
</body>

<script type="text/javascript">
	
	 function a(){
		    var b = document.getElementById("qty").value
		    var c =document.getElementById("rate").value
		    var R =b*c;
		    document.getElementById("amount").value = R
	 }
	 
	 function validateForm() {
		  let x = document.forms["myForm"]["qtyy"].value;
		  if (x == "0.0") {
		    alert("Quantity must be filled out");
		    return false;
		  }
		}
	 
	
	</script>
</html>