<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Diary Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Diary Management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/sales}">Sale Management</a>
      </li>
    </ul>
  </div>
  <div>
  
  <ul class="nav navbar-nav navbar-right">             
      <li style="align-content:center">
     <button type="submit" class="btn btn-danger"><a th:href="@{/logout}">Logout</a></button>
       </li>
     </ul>
  </div>
  
</nav>
<br>
<br>
	<div class = "container">
		<div class = "row">
			<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class = "text-center"> Update sale </h1>
				<div class = "card-body">
							<form th:action="@{/sales/{id} (id=${sale.id})}" th:object = "${sale}" method="POST">
							
							<div class ="form-group">
							<label>Full Name </label>
							<input
							type = "text"
							name = "fullname"
							class = "form-control"
							
							th:field = "*{fullname}"
							
							th:classappend="${#fields.hasErrors('fullname')? 'is-invalid':''}"
							id="full_name"
							/>
							
							<div th:each="e : ${#fields.errors('fullname')}" th:text="${e}" id="validationServer03Feedback" class="invalid-feedback">
						
							</div>
							</div>
						
						<div class="form-group">
						<label>Item</label>
						<select th:field="*{item}" 
						class = "form-control">
						<option th:value="''" th:text="choose"></option>
                     <option th:value="'Milk'" th:text="Milk"></option>
                      <option th:value="'Butter'" th:text="Butter"></option>
                      <option th:value="'Cheese'" th:text="cheese"></option>
                      <option th:value="'Ice'" th:text="Ice"></option>
                      
                    </select>
                           
                           </div>						
						
						
						<div class ="form-group">
							<label>Quantity</label>
							<input
							type = "number"
							name = "qty"
							th:field = "*{qty}"
							class = "form-control"
							onkeyup="a()"
							/>
						</div>
						
						
						<div class ="form-group">
							<label>Rate</label>
							<input
							id="rate"
							type = "number"
							name = "rate"
							th:field = "*{rate}"
							class = "form-control"
							onkeyup="a()"
							placeholder="" 
							/>
						</div> 
						
						
						<div class ="form-group">
							<label> Amount </label>
							<input
							type = "number"
							name = "amount"
							th:field = "*{amount}"
							class = "form-control"
							placeholder="Enter Amount" 
							/>
						</div>
						
						<div class = "box-footer">
							<button type="submit" class = "btn btn-primary">
								Submit
							</button>
						</div>
					</form>
				
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	
	 function a(){
		    var b = document.getElementById("qty").value
		    var c =document.getElementById("rate").value
		    var R =b*c;
		    document.getElementById("amount").value = R
	 }
	 

	
	</script>

</html>