<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Dairy Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
 <a class="navbar-brand" th:href="@{/}">Diary Management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/}">Purchase Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/sales}">Sales Management</a>
      </li>
    </ul>
  </div>
  
  <div>
  <ul class="nav navbar-nav navbar-right">             
      <li style="align-content:center">
     <button type="submit" class="btn btn-danger"><a th:href="@{/logout}">Logout</a></button>
       </li>
     </ul>
  </div>
  
  
  
</nav>

	<div class ="container">
		<div class = "row">
			<h1> List Sales</h1>
		</div>
		
		<div class = "row">
			<div class = "col-lg-3">
				<a th:href = "@{/sales/new}" class = "btn btn-primary btn-sm mb-3"> Add Sales</a>
			</div>
		</div>
		<table class = "table table-striped table-bordered">
			<thead class = "table-dark">
				<tr>
					 <th> Full Name</th>
					    <th>Item</th>
						<th>Quantity</th>
						<th>Rate</th>
						<th>Amount </th>
					 <th>Actions </th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each = "sale: ${sales}">
					<td th:text = "${sale.fullname}"></td>
					<td th:text = "${sale.item}"></td>
					<td th:text = "${sale.qty}"></td>
					<td th:text = "${sale.rate}"></td>
					<td th:text = "${sale.amount}"></td>
					<td>
						<a th:href = "@{/sales/edit/{id}(id=${sale.id})}"
						 class = "btn btn-primary">Update</a>
						
						<a th:href = "@{/sales/{id}(id=${sale.id})}"
						 class = "btn btn-danger">Delete</a>
						 
					</td>
				</tr>
			</tbody>
		
		</table>
		
	</div>
</body>
</html>